.register .container {
  margin: 0 auto;
  max-width: 1140px;
  width: 90%;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 100px;
}
.register h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin: 100px 0 0 0;
}
.register .regiters {
  color: rgba(252, 252, 252, 1);
  font-size: 24px;
  font-weight: 400;
}
.register .wrapper {
  position: relative;
  z-index: 1;
}
.register p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.register a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.register .save {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.register .bg_not {
  width: 100%;
}
.register label {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.register input {
  width: 100%;
  height: 50px;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgba(137, 140, 169, 1);
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  margin: 30px 0 0 0;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
}
.register input:hover {
  border: 1.2px solid #fff;
}
.register input::placeholder {
  color: #9e9ea5;
  font-size: 14px;
  font-weight: 400;
}
.register .check {
  margin-top: 20px;
  width: 100%;
}
.register .check p {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.register .btn {
  width: 122px;
  height: 44px;
  border-radius: 10px;
  background: rgba(141, 106, 226, 1);
  border: none;
  color: rgba(252, 252, 252, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 30px auto 0;
}
.register .center_register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register .btn:hover {
  opacity: 0.8;
}
.register .span-icon {
  font-size: 20px;
  color: rgba(141, 106, 226, 1);
  position: absolute;
  z-index: 1;
  margin: 36px 0 0 -42px;
  cursor: pointer;
}
.register .span-icon1 {
  font-size: 20px;
  /* top: 0; */
  /* left: 0; */
  color: rgba(141, 106, 226, 1);
  position: absolute;
  z-index: 1;
  margin: 34px 0 0 -40px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .register .container {
    padding-top: 200px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .register .bg_not {
    display: none;
  }
}
